@tailwind base;
@tailwind components;
@tailwind utilities;
nav,
ul,
li {
  overflow: visible !important;
}

@keyframes textColorChange {
  0% {
    color: red;
  }
  25% {
    color: rgb(83, 83, 252);
  }
  50% {
    color: rgb(255, 123, 255);
  }
  75% {
    color: rgb(105, 255, 105);
  }
  100% {
    color: red;
  }
}

/* Custom Global Scrollbar Styles */

/* For WebKit browsers (Chrome, Safari) */
html::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

html::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

html::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Adds space around thumb */
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color on hover */
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track color */
  overflow-y: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}


@keyframes sparkle {
  0% {
    
    opacity: 0.2;
  }
  50% {
    
    opacity: 1;
  }
  100% {
    
    opacity: 0.2;
  }
}

/* Apply sparkle effect */
.sparkle {
  animation: sparkle 1.5s infinite ease-in-out;
}

.animate-textColorChange {
  animation: textColorChange 30s infinite;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .font-roboto-mono {
    font-family: "Roboto Mono", monospace;
  }
}

.bx-spin-slow {
  animation: slow-spin 30s linear infinite; /* Slow spin animation with 10s duration */
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-scrollbar-glass::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-glass::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
}

.custom-scrollbar-glass::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.custom-scrollbar-glass::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.custom-scrollbar-glass {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2);
}
