# Frontend
prebuilds_frontend/node_modules/
prebuilds_frontend/dist/
prebuilds_frontend/.env
prebuilds_frontend/src/api/apiConfig.ts


# Backend
prebuilds_backend/vendor/
prebuilds_backend/.env
prebuilds_backend/storage/logs/
prebuilds_backend/public/images/